header *{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

nav p {
    margin: 0;
}

nav{
    margin-top: 20px;
}

.panel-lewy{
    width: 200px;
}

.panele{
    display: flex;
}

.panel-prawy{
    width: 600px;
}