body{
    margin: 0;
    padding: 0;
    border: 0;
}

.baner{
    background-color: #829EB9;
    height: 80px;
    text-align: center;
    font-family: Arial;
    padding-top: 10px;
}

.panelLewy{
    background-color: #B3C6D9;
    height: 500px;
    width: 25%;
    padding-top: 100px;
    font-size: 20px;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
}

.paragraf2{
    text-align: center;
}

.panelPrawy{
    background-color: #E0E9F1;
    height: 500px;
    width: 75%;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraf{
    text-align: center;
}

img{
    margin: 30px auto;
    padding: 10px;
}

footer{
    background-color: yellow;
    text-align: center;
    font-family: Arial;
    height: 50px;
}

.footer{
    margin: 0;
    padding: 0;
    border: 0;
}

.kalkulator{
    display: inline;
    width: 100%;
}

button{
    margin: 20px;
}